@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family: "Mulish", sans-serif;
}




/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
} */



/* .swiper {
  width: 100%;
  height: 2500%;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;

 
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
