@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* global.css or inside a style tag */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Make Swiper navigation buttons smaller */
.swiper-button-next,
.swiper-button-prev {
  width: 35px !important;
  height: 35px !important;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
  color: white;
}
